.App {
  color: #ffffff;
  background-color: #101010;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  padding-right: 3em;
  padding-left: 3em;
}

ul li {
  color: rgb(87, 87, 87);
  list-style: none;
}
i {
  color: rgb(87, 87, 87);
  font-size: 1.5em;
}

.service-button {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
p {
  color: rgb(87, 87, 87);
}
