.App {
  color: #ffffff;
  background-color: #101010;
}

main {
  padding-right: 3em;
  padding-left: 3em;
}

ul li {
  color: rgb(87, 87, 87);
  list-style: none;
}
i {
  color: rgb(87, 87, 87);
  font-size: 1.5em;
}

.service-button {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
p {
  color: rgb(87, 87, 87);
}

.basic-nav-dropdown {
  border: 1px solid#ffffff;
  width: 130px;
  height: 45px;
  text-align: center;
  padding: 0.5em;
  background-color: black;
}
